* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 1001px) {
  body {
    height: auto;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}

html {
  margin: 0;
}

.btn {
  padding: 0.8rem 1.2rem 0.8rem 1.2rem;
  margin-top: 2rem;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 0.9rem;
  background: linear-gradient(-10deg, #9356dc, #ff79da);
  text-decoration: none;
  text-align: center;
  border-radius: 27px;
  box-shadow: 1px 1px 1rem #c8c8c8;
}
@media screen and (min-width: 1001px) {
  .btn {
    width: 20%;
  }
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
  .btn {
    width: 30%;
  }
}
.btn:hover {
  background: linear-gradient(-10deg, #ae80e5, #fface8);
}

.instruction__heading {
  margin-left: 5%;
  margin-top: 2rem;
}
.instruction__sentence {
  display: flex;
  flex-direction: row;
  background-color: #f6f6f6;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  text-align: center;
  border-radius: 20px;
  box-shadow: 1px 1px 1rem #c8c8c8;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media screen and (min-width: 1001px) {
  .instruction__sentence {
    margin-right: 5%;
  }
}
.instruction__sentence:hover {
  background-color: rgba(147, 86, 220, 0.2);
}
.instruction__sentence .numero {
  background-color: #9356dc;
  height: 1.4rem;
  padding: 0.1rem 0.4rem 0.1rem 0.4rem;
  border-radius: 50%;
  color: white;
  margin-left: -2%;
}
.instruction__sentence__icon {
  display: block;
  width: 20%;
  color: gray;
  margin-top: 0.1rem;
}
.instruction__sentence__icon-color {
  color: #9356dc;
}
.instruction__sentence .phrase {
  display: block;
  width: 60%;
}

@media screen and (min-width: 1001px) {
  .desktop {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
  }
}
.card {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  width: 90%;
  background-color: white;
  border-radius: 20px;
  padding-bottom: 1rem;
  box-shadow: 1px 1px 1rem #c8c8c8;
  text-decoration: none;
  color: black;
}
@media screen and (min-width: 1001px) {
  .card {
    width: 35%;
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
  .card {
    width: 40%;
    margin-bottom: 2rem;
  }
}
.card__image img {
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 12rem;
}
.card__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__container__text {
  width: 80%;
}
.card__container__text__heading {
  display: block;
  margin-left: 5%;
  margin-bottom: 0.2rem;
  margin-top: 0.5rem;
  width: 90%;
}
.card__container__text__sentence {
  display: block;
  margin-left: 5%;
  margin-bottom: 0.2rem;
  width: 90%;
}
.card__container__icon {
  margin-right: 5%;
  font-size: 1.3rem;
}
.card__container__icon-2 {
  color: #ff79da;
  font-size: 1.3rem;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.truc {
  position: relative;
  margin-right: 5%;
}

.organisation-card {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1001px) {
  .organisation-card {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
  .organisation-card {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  background-color: white;
  box-shadow: 1px 1px 1rem #c8c8c8;
  border-radius: 15px;
}
.label__text {
  width: 65%;
  margin-left: 5%;
  margin-right: 2%;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.label__text__heading {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.label__text__description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.label__info {
  margin-right: 5%;
  font-weight: bold;
  margin-top: 2.3rem;
  transform-origin: right;
}
.label__check {
  display: none;
  width: 15%;
  height: auto;
  border-radius: 0 15px 15px 0;
  background-color: #99e2d0;
  justify-content: center;
  align-items: center;
  transform-origin: right;
}
.label__check i {
  color: white;
  font-size: 1.4rem;
}
@media screen and (min-width: 1001px) {
  .label {
    margin-right: 3%;
    width: 30%;
  }
}

@media screen and (min-width: 1001px) {
  .label-desktop {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    flex-wrap: wrap;
  }
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__nav__icon {
  font-size: 1.5rem;
  margin-left: 5%;
  margin-top: 1rem;
  color: black;
  text-decoration: none;
}
.header__nav__logo {
  width: 50%;
  margin-left: 3rem;
  margin-top: 1rem;
}
.header__logo {
  width: 50%;
  margin-top: 1rem;
}
@media screen and (min-width: 1001px) {
  .header__logo {
    width: 20%;
  }
}
.header__image {
  margin-top: 0.7rem;
  z-index: -1;
  width: 100%;
}
.header__image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1001px) {
  .header__image {
    height: 35rem;
  }
}
.header__search {
  width: 100%;
  margin-top: 1rem;
}
.header__search input {
  width: 100%;
  padding: 1rem;
  border: none;
  background-color: #eaeaea;
  text-align: center;
}
.header .background {
  background-color: #f6f6f6;
  width: 100%;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__heading {
  font-size: 1.3rem;
  width: 60%;
  text-align: center;
  margin-top: 1rem;
}
.header__sentence {
  width: 80%;
  text-align: center;
  margin-top: 2rem;
}

.footer {
  background-color: #353535;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
.footer__heading {
  color: white;
  margin-left: 5%;
  margin-bottom: 2rem;
}
.footer__link {
  margin-left: 5%;
  list-style: none;
}
@media screen and (min-width: 1001px) {
  .footer__link {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 3rem;
  }
}
.footer__link li {
  margin-bottom: 0.5rem;
}
.footer__link li a {
  color: white;
  text-decoration: none;
}
.footer__link li a i {
  font-size: 0.7rem;
  margin-right: 0.7rem;
}

.restaurant {
  background-color: #f6f6f6;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
}
.restaurant__heading {
  margin-left: 5%;
  margin-bottom: 1rem;
}

.main {
  background-color: #f6f6f6;
  border-radius: 25px 25px 0 0;
  margin-top: -2rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
}
.main__heading {
  margin-left: 5%;
  margin-bottom: 1rem;
}

.title {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

rect {
  fill: url(#MyGradient);
}

.heart {
  position: relative;
  margin-right: 5%;
}
.heart__icon {
  margin-right: 5%;
  font-size: 1.3rem;
}
.heart__icon-2 {
  fill: url(#MyGradient);
  font-size: 1.3rem;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0);
}
.heart:hover .heart__icon-2 {
  animation: heart 0.3s;
  animation-fill-mode: forwards;
}
.heart:hover .heart__icon {
  transform: scale(0);
}

.categorie {
  margin-bottom: 3rem;
}
.categorie__heading {
  display: block;
  width: 40px;
  margin-left: 5%;
  margin-bottom: 1rem;
  padding-bottom: 0.3rem;
  border-bottom: solid 3px #99e2d0;
}
@media screen and (min-width: 1001px) {
  .categorie__heading {
    width: 40px;
  }
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
  .categorie__heading {
    width: 40px;
  }
}
@media screen and (min-width: 1001px) {
  .categorie {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
  .categorie {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

.loader {
  animation: spin 1s infinite linear;
  border: solid 2vmin transparent;
  border-radius: 50%;
  border-right-color: #9356dc;
  border-top-color: #9356dc;
  box-sizing: border-box;
  height: 20vmin;
  left: calc(50% - 10vmin);
  position: fixed;
  top: calc(50% - 10vmin);
  width: 20vmin;
  z-index: 1;
}
.loader:before {
  animation: spin 2s infinite linear;
  border: solid 2vmin transparent;
  border-radius: 50%;
  border-right-color: #ff79da;
  border-top-color: #ff79da;
  box-sizing: border-box;
  content: "";
  height: 16vmin;
  left: 0;
  position: absolute;
  top: 0;
  width: 16vmin;
}
.loader:after {
  animation: spin 3s infinite linear;
  border: solid 2vmin transparent;
  border-radius: 50%;
  border-right-color: #99e2d0;
  border-top-color: #99e2d0;
  box-sizing: border-box;
  content: "";
  height: 12vmin;
  left: 2vmin;
  position: absolute;
  top: 2vmin;
  width: 12vmin;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.back {
  animation: spinloader 3s;
  animation-fill-mode: both;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(102, 101, 101, 0.7);
  z-index: 999;
}

@keyframes spinloader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
.fade-1 {
  animation: fadeIn 0.4s;
}

.fade-2 {
  animation: fadeIn 0.8s;
}

.fade-3 {
  animation: fadeIn 1.2s;
}

.fade-4 {
  animation: fadeIn 1.6s;
}

.fade-5 {
  animation: fadeIn 2s;
}

.fade-6 {
  animation: fadeIn 2.4s;
}

.fade-7 {
  animation: fadeIn 2.8s;
}

.fade-8 {
  animation: fadeIn 3.2s;
}

.fade-9 {
  animation: fadeIn 3.6s;
}

.fade-10 {
  animation: fadeIn 4s;
}

.fade-11 {
  animation: fadeIn 4.4s;
}

.fade-12 {
  animation: fadeIn 4.8s;
}

.fade-13 {
  animation: fadeIn 5.2s;
}

.fade-14 {
  animation: fadeIn 5.6s;
}

.fade-15 {
  animation: fadeIn 6s;
}

@keyframes fadeIn {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}
.label:hover {
  cursor: pointer;
}

.label:hover .label__check {
  animation: validation ease 0.3s;
  animation-fill-mode: forwards;
  display: flex;
}

.label:hover .label__info {
  animation: price ease 0.3s;
  animation-fill-mode: forwards;
}

.label:hover .checkbox {
  animation: checkbox ease 0.5s 1;
}

@keyframes validation {
  0% {
    transform: scaleX(0);
  }
  20% {
    transform: scaleX(0.2);
  }
  40% {
    transform: scaleX(0.4);
  }
  60% {
    transform: scaleX(0.6);
  }
  80% {
    transform: scaleX(0.8);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes price {
  0% {
    transform: translate(50px, 0);
  }
  20% {
    transform: translate(30px, 0);
  }
  40% {
    transform: translate(20px, 0);
  }
  60% {
    transform: translate(15px, 0);
  }
  80% {
    transform: translate(7px, 0);
  }
  100% {
    transform: translate(1px, 0);
  }
}
@keyframes checkbox {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(72deg);
  }
  40% {
    transform: rotate(144deg);
  }
  60% {
    transform: rotate(216deg);
  }
  80% {
    transform: rotate(288deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes heart {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/*# sourceMappingURL=style.css.map */
