.categorie {
  margin-bottom: 3rem;
  &__heading {
    display: block;
    width: 40px;
    margin-left: 5%;
    margin-bottom: 1rem;
    padding-bottom: 0.3rem;
    border-bottom: solid 3px $colour-tertiary;
    @include Desktop-only {
      width: 40px;
    }
    @include tablette-only {
      width: 40px;
    }
  }
  @include Desktop-only {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  @include tablette-only {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
