.categorie {
  margin-bottom: 3rem;
  &__heading {
    display: block;
    width: 12%;
    margin-left: 5%;
    margin-bottom: 1rem;
    padding-bottom: 0.3rem;
    border-bottom: solid 3px $colour-tertiary;
  }
}
