.footer {
  background-color: $bacground-footer;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  &__heading {
    color: white;
    margin-left: 5%;
    margin-bottom: 2rem;
  }
  &__link {
    margin-left: 5%;
    list-style: none;
    @include Desktop-only {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: 3rem;
    }
    li {
      margin-bottom: 0.5rem;
    }
    li a {
      color: white;
      text-decoration: none;
      i {
        font-size: 0.7rem;
        margin-right: 0.7rem;
      }
    }
  }
}
