.card {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  width: 90%;
  background-color: white;
  border-radius: 20px;
  padding-bottom: 1rem;
  box-shadow: 1px 1px 1rem rgb(200 200 200);
  text-decoration: none;
  color: black;
  @include Desktop-only {
    width: 23%;
  }
  @include tablette-only {
    width: 40%;
    margin-bottom: 2rem;
  }

  &__image {
    img {
      object-fit: cover;
      border-radius: 20px 20px 0 0;
      width: 100%;
      height: 12rem;
    }
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__text {
      width: 80%;
      &__heading {
        display: block;
        margin-left: 5%;
        margin-bottom: 0.2rem;
        margin-top: 0.5rem;
        width: 90%;
      }
      &__sentence {
        display: block;
        margin-left: 5%;
        margin-bottom: 0.2rem;
        width: 90%;
      }
    }
    &__icon {
      margin-right: 5%;
      font-size: 1.3rem;
    }
  }
}

.organisation-card {
  display: flex;
  flex-direction: column;
  @include Desktop-only {
    flex-direction: row;
    justify-content: space-around;
  }
  @include tablette-only {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
