.instruction {
  &__heading {
    margin-left: 5%;
    margin-top: 2rem;
  }
  &__sentence {
    display: block;
    background-color: $background;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    text-align: center;
    border-radius: 20px;
    box-shadow: 1px 1px 1rem rgb(200 200 200);

    padding-top: 1.5rem;
    padding-bottom: 2rem;
  }
}
