.label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  background-color: white;
  box-shadow: 1px 1px 1rem rgb(200 200 200);
  border-radius: 15px;
  &__text {
    width: 65%;
    margin-left: 5%;
    margin-right: 2%;
    padding-bottom: 1rem;
    padding-top: 1rem;
    &__heading {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &__description {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  &__info {
    margin-right: 5%;
    font-weight: bold;
    margin-top: 2.3rem;
  }
  &__check {
    display: none;
    width: 15%;
    height: auto;
    border-radius: 0 15px 15px 0;
    background-color: $colour-tertiary;
    justify-content: center;
    align-items: center;
    transform-origin: right;
    i {
      color: white;
      font-size: 1.4rem;
    }
  }
  @include Desktop-only {
    margin-right: 3%;
    width: 30%;
  }
}
@include Desktop-only {
  .label-desktop {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
  }
}
