* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  @include Desktop-only {
    height: auto;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}
